<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>rhyming articles</title>
  </head>
  <body>
	<form action="/rhyme" method="GET">
		<b style="font-size:xx-large"><a href="/">Alignment</a> of <a href="{{.SearchResult.FtcomSearchUrl}}">recent</a> <a href="{{.SearchResult.FtcomUrl}}">FT.com</a> articles</b> 
		<br>on <input type="text" name="text" value="{{.SearchResult.Text}}">
		<input type="radio" name="source" value="any" {{.SearchResult.AnyChecked}}> any
	  	<input type="radio" name="source" value="title-only" {{.SearchResult.TitleOnlyChecked}}> title-only
		<br>meter <input type="text" name="meter" value="{{.MatchMeter}}">

		<input type="submit" value="Get and Meter">
		&nbsp; (<a href="/">help+about</a>)
	</form>

<br>
	<table>
	{{range $item := .ResultItemsWithRhymeAndMeterList}}
		<tr>
			<td style="text-align:right;  white-space: nowrap">{{ $item.RhymeAndMeter.MatchesOnMeter.Before }}</td>
			<td style="text-align:center;  white-space: nowrap; font-style: italic"><a href="{{$item.ResultItem.LocationUri}}" alt="{{$item.ResultItem.Title}}">{{ $item.RhymeAndMeter.MatchesOnMeter.During }}</a></td>
			<td style="text-align:left;  white-space: nowrap">{{ $item.RhymeAndMeter.MatchesOnMeter.After }}</td>
		</tr>
	{{ end }}
	</table>

	<br>

	<h2>unrecognised words</h2>
	<ul>
	{{range $item := .KnownUnknowns}}
		<li>{{ $item }}</li>
	{{ end }}
	</ul>

  </body>
</html>
