{{define "alignedPage"}}
	<!DOCTYPE html>
	<html>
	  <head>
	    <meta charset="UTF-8">
	    <title>aligning articles</title>
	  </head>
	  <body>
		<form action="/align" method="GET">
			<b style="font-size:xx-large"><a href="/">Alignment</a> of <a href="{{.FtcomSearchUrl}}">recent</a> <a href="{{.FtcomUrl}}">FT.com</a> articles</b> 
			on <input type="text" name="text" value="{{.Text}}">
			<input type="radio" name="source" value="any" {{.AnyChecked}}> any
		  	<input type="radio" name="source" value="title-only" {{.TitleOnlyChecked}}> title-only
			<input type="submit" value="Get and Align">
			&nbsp; (<a href="/">help+about</a>)
		</form>
	<br>
		<table>
		{{range $phrase := .Phrases}}
			<tr>
				<td style="text-align:right;  white-space: nowrap">{{ $phrase.Before }}</td>
				<td style="text-align:center; white-space: nowrap"><a href="{{$phrase.LocationUri}}" alt="{{$phrase.Title}}">{{ $phrase.Common }}</a></td>
				<td style="text-align:left;   white-space: nowrap">{{ $phrase.After  }}</td>
			</tr>
		{{ end }}
		</table>
	  </body>
	</html>
{{end}}