{{define "articlePage"}}
	<!DOCTYPE html>
	<html>
    	{{template "head"}}
		<body>
	    	{{template "header"}}
 		    <div class="o-techdocs-hero">
				<h2 class="o-techdocs-hero__title">
					Parsing the article 
					<br>"<a href="{{ .Url }}">{{ .Title }}</a>"
					<br>for sentences which match the requested meter,
					<br>and aligning on the matching phrases.
				</h2>
			</div>

			<div align="center" style="font-style: italic;">
				<form action="/article" method="GET">
					<br>uuid&nbsp;<input type="text" name="uuid" value="{{.Uuid}}">
					<br>meter&nbsp;<input type="text" name="meter" value="{{.Meter}}">

					<input type="submit" value="search and align on matching meter">
				</form>
			</div>
			<br>
			<div align="center"> 
				<table>
				{{range $item := .MatchedPhrases}}
					<tr>
						<td style="text-align:right;  white-space: nowrap">{{ $item.MatchesOnMeter.BeforeCropped }}</td>
						<td style="text-align:center;  white-space: nowrap; font-style: italic;  font-size: large">{{ $item.MatchesOnMeter.During }}</td>
						<td style="text-align:left;  white-space: nowrap">{{ $item.MatchesOnMeter.AfterCropped }}</td>
					</tr>
				{{ end }}
				</table>
			</div>
			<br>
			<h2>unrecognised words</h2>
			<p>... and which therefore cannot be matched by the meter regexp</p>
			<ul>
			{{range $item := .KnownUnknowns}}
				<li>{{ $item }}</li>
			{{ end }}
			</ul>

		</body>
	</html>
{{end}}