{{define "authorHaikuPage"}}
	<!DOCTYPE html>
	<html>
    	{{template "head"}}
		<body>
	    	{{template "header"}}
 		    <div class="o-techdocs-hero">
				<h2 class="o-techdocs-hero__title">
					Looking at {{.NumArticles}} (max {{.MaxArticles}}) recent articles by the author, {{.Author}}.
					<br>Parsing the articles for sentences which match the requested meter.
					<br>Can you catch any glimpses of poetry? Possibly some Haikus !?
				</h2>
			</div>

			<div align="center" style="font-style: italic;">
				<form action="/author" method="GET">
					<br>author&nbsp;<input type="text" name="author" value="{{.Author}}"> max&nbsp;<input type="text" name="max" value="{{.MaxArticles}}">
					<input type="hidden" name="meter" value="{{.Meter}}">
					<input type="submit" value="search for articles and look for haikus">  (NB: there will be a bit of a delay)
				</form>
			</div>
			<br>
			<div align="center"> 
				<table>
				{{range $item := .SecondaryMatchedPhrasesWithUrl}}
					<tr>
						<td style="text-align:left;  white-space: nowrap">
							{{ range $line := $item.MatchesOnMeter.SecondaryMatch.PhraseInEachMatch }}
							{{ $line }}<br>
							{{ end }}
						</td>
					</tr>
				{{ end }}
				</table>
			</div>
			<br>
			<h2>articles covered, by {{.Author}}</h2>
			<ul>
				{{range $item := .Articles}}
				<li><a href="{{ $item.Url }}">{{ $item.Title }}</a></li>
				{{ end }}
			</ul>
			<br>
			<h2>unrecognised words</h2>
			<p>... and which therefore cannot be matched by the meter regexp</p>
			<ul>
			{{range $item := .KnownUnknowns}}
				<li>{{ $item }}</li>
			{{ end }}
			</ul>

		</body>
	</html>
{{end}}