{{define "carouselPage"}}
	<!DOCTYPE html>
	<html>
  <head>
  	<title>Looking at a carousel of haiku</title>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  </head>
		<body>
				<h2>
					Looking at a carousel of haiku
				</h2>
			</div>

			<div class="haiku-carousel">
			{{range .Items}}
				<div>
					{{ .TextAsHtml }}
					<br>
					- <a href="{{ .Url }}">{{ .Author }}</a>
				</div>
			{{ end }}
		   	</div>

			<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
			<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

			<script type="text/javascript">
				$(document).ready(function(){
			    $('.haiku-carousel').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					autoplay: true,
					autoplaySpeed: 3000,
					infinite: true,
					speed: 500,
					fade: true,
					cssEase: 'linear',
					arrows: false,
			    });
			});
			</script>

		</body>
	</html>
{{end}}
