{{define "header"}}
	<header data-o-component="o-header" class="o-header">
		<div class="o-header__container">
			<div class="o-header__inner">
				<div class="o-header__primary">
					<div class="o-header__primary__left">
						<a href="/"><h1 class="o-header__title">Out Of Hours: Experiments in Alignment</h1></a>
						<a href="/">help+about</a>
				</div>
			</div>
			<div class="o-header__secondary">
				<div class="o-header__secondary__right demo__secondary--placeholder">
					<a href="http://upthebuzzard.tumblr.com/">a Chris Gathercole project</a> (<a href="https://twitter.com/upthebuzzard">@upthebuzzard</a>), using data and ideas from the day job at <a href="http://labs.ft.com">FT Labs</a>
				</div>
			</div>
		</div>
	</header>
{{end}}